<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeMedManager</title>
    <!-- Enlazar el archivo CSS actualizado -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="/api/appointments">Appointments</a>
            <a href="/api/auth/login">Login</a>
            <a href="/api/auth/register">Register</a>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <div class="container mt-5">
        <!-- Aquí se incluirá el contenido dinámico -->

    </div>

</body>
</html>
