<%- include('layout.ejs') %>

<div class="card">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div class="card-body">
        <form action="/api/auth/login" method="POST">
            <!-- Campo oculto para el token CSRF -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
            <!-- Otros campos del formulario -->
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        
    </div>
</div>
