<%- include('layout.ejs') %>

<div class="card">
    <div class="card-header">
        <h3>Update Doctor</h3>
    </div>
    <div class="card-body">
        <form action="/api/doctors/<%= doctor._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="doctorName" class="form-label">Doctor Name</label>
                <input type="text" class="form-control" id="doctorName" name="doctorName" value="<%= doctor.name %>" required>
            </div>
            <div class="mb-3">
                <label for="specialization" class="form-label">Specialization</label>
                <input type="text" class="form-control" id="specialization" name="specialization" value="<%= doctor.specialization %>" required>
            </div>
            <button type="submit" class="btn">Update Doctor</button>
        </form>
    </div>
</div>
